header {
  font-family: "Quicksand";
  padding-top: 70px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro {
  padding-top: 70px;
  width: 60%;
  margin: 0 auto;
  font-family: "Nunito";
  position: relative;
}
.intro__title {
  font-size: 64px;
  font-weight: 800;
  color: #1D1D1D;
  text-align: center;
  padding-bottom: 25px;
  margin: 0;
}
.intro__text {
  color: #464646;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 30px;
  text-align: center;
  opacity: 60%;
}
.intro__button {
  text-align: center;
}
.intro__foto-block {
  position: relative;
  padding-top: 100px;
}
.intro__bubbles {
  top: 80px;
  left: 135px;
  color: #377DFF;
}
.intro__bubbles2 {
  color: #FF2D2D;
  top: 540px;
  left: 200px;
}
.intro__foto {
  border-radius: 50px;
  object-fit: cover;
}

.intro__review {
  width: 130px;
  height: 120px;
  font-size: 10px;
  bottom: 0;
  right: -130px;
  position: absolute;
}

.about-us__content {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
.about-us__content_left {
  position: relative;
}
.about-us__content_right {
  padding-top: 30px;
}
.about-us__buttons {
  display: flex;
  flex-direction: row;
}
.about-us__btn {
  margin-left: 25px;
}
.about-us__btn-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-us__btn-img {
  width: 18px;
  height: 18px;
  padding-right: 10px;
}
.about-us__img {
  border-radius: 25px;
  object-fit: cover;
  width: 565px;
  height: 400px;
}
.about-us__bubbles {
  top: -20px;
  left: -30px;
  color: #FF5C00;
}
.about-us__bubbles2 {
  top: 330px;
  left: 495px;
  color: #EB00FF;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services__left {
  width: 45%;
}
.services__right {
  width: 50%;
}
.services__header, .services__title {
  text-align: left !important;
}
.services__right {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 150px;
}

.portfolio {
  position: relative;
}
.portfolio__text {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.portfolio__btn-area {
  text-align: center;
}
.portfolio__bubbles {
  color: #EB00FF;
  top: 260px;
  right: 40px;
  transform: rotate(-25deg);
}
.portfolio__bubbles2 {
  color: #EB00FF;
  top: 500px;
  left: 385px;
  transform: rotate(25deg);
}

.testimonial {
  position: relative;
}
.testimonial__reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonial__review {
  width: 300px;
  padding: 50px 40px !important;
}
.testimonial__text {
  font-size: 18px;
  line-height: 28px;
  color: #464646;
  padding-bottom: 80px;
  padding-top: 30px;
  letter-spacing: 0.01em;
  opacity: 80%;
}
.testimonial__bubbles {
  color: #0B50FF;
  transform: rotate(25deg);
  top: 120px;
  left: 80px;
}
.testimonial__bubbles2 {
  color: #0B50FF;
  transform: rotate(25deg);
  bottom: -35px;
  right: -35px;
}

.collaboration {
  display: flex;
  flex-direction: row;
  padding-bottom: 140px;
  margin-top: 60px;
}
.collaboration_left {
  width: 30%;
}
.collaboration_right {
  position: relative;
  flex-shrink: 0;
}
.collaboration__title {
  text-align: left !important;
}
.collaboration__img {
  border-radius: 15px;
  object-fit: cover;
  position: absolute;
  height: 290px;
}
.collaboration__img_1 {
  width: 325px;
  top: 70px;
  left: 280px;
  z-index: 3;
}
.collaboration__img_2 {
  width: 290px;
  top: -35px;
  left: 575px;
  z-index: 2;
}
.collaboration__bubbles1 {
  color: #377DFF;
  font-weight: 900;
  letter-spacing: 1px;
  top: 35px;
  left: 265px;
}
.collaboration__bubbles2 {
  color: #FF5C00;
  font-size: 65px;
  bottom: 35px;
  right: -700px;
}
.collaboration__bubbles3 {
  color: #FF5C00;
  font-size: 65px;
  bottom: 35px;
  right: -803px;
}

footer {
  background-color: #383638;
}

.footer__nav {
  padding-top: 120px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__logo {
  height: 90px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright {
  font-family: "Quicksand";
  font-size: 18px;
  padding-top: 15px;
  color: white;
  padding-bottom: 40px;
}

.btn {
  border: 1px solid #377DFF;
  border-radius: 25px;
  color: #377DFF;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  padding: 12px 50px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn:hover {
  background-color: rgba(55, 125, 255, 0.2274509804);
}

.btn_reverse {
  color: white;
  background-color: #377DFF;
  box-shadow: 0 4px 8px 0 #377DFF;
}
.btn_reverse:hover {
  background-color: #206af3;
}

.logo {
  background-color: white;
  width: 190px;
  border-radius: 20px;
}
.logo__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo__content_space {
  padding: 20px 25px;
}
.logo__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.logo__name {
  padding-left: 10px;
  font-family: "Quicksand";
}
.logo__name_top {
  font-size: 20px;
  font-weight: 700;
}
.logo__name_bottom {
  font-size: 16px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?3kt7ev");
  src: url("../fonts/icomoon.eot?3kt7ev#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3kt7ev") format("truetype"), url("../fonts/icomoon.woff?3kt7ev") format("woff"), url("../fonts/icomoon.svg?3kt7ev#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubbles:before {
  content: "\e900";
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  width: 1240px;
  margin: 0 auto;
}

body {
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.block {
  padding-top: 140px;
}
.block__header {
  font-family: "Quicksand";
  font-size: 24px;
  color: #377DFF;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
.block__title {
  font-family: "Nunito";
  font-size: 55px;
  color: #1D1D1D;
  font-weight: 700;
  padding-bottom: 40px;
  text-align: center;
}
.block__text {
  padding-bottom: 25px;
  font-family: "Quicksand";
  font-size: 20px;
  color: #464646;
  line-height: 32px;
}

.icon-bubbles {
  font-size: 80px;
  z-index: -5;
  position: absolute;
}

.review {
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  background-color: white;
  font-family: "Quicksand";
}
.review__img {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}
.review__img_little {
  width: 30px;
  height: 30px;
}
.review__text {
  font-family: "Nunito";
  padding-top: 10px;
  letter-spacing: 0.01em;
  line-height: 14px;
}

.reviewer {
  font-family: "Quicksand";
  color: #1D1D1D;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.01em;
}
.reviewer__information {
  font-size: 11px;
  line-height: 34px;
  padding-left: 30px;
}
.reviewer__information_little {
  padding-left: 10px;
}
.reviewer__img {
  width: 70px;
  height: 70px;
}
.reviewer__name_blue {
  color: #377DFF;
  font-size: 20px;
  font-weight: 600;
}
.reviewer__profession {
  opacity: 50%;
}
.reviewer__profession_little {
  font-size: 6px;
  line-height: 8px;
}

.ball {
  content: "";
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 65% 15%, #FF8E8E, #F62424);
  border-radius: 50%;
  position: absolute;
  top: 175px;
  right: -355px;
}
.ball_blue {
  background: radial-gradient(circle at 65% 15%, #4485FF, #377DFF);
  top: 310px;
  left: -275px;
}
.ball_left {
  top: 280px;
  left: -60px;
}
.ball_right {
  top: 70px;
  left: 900px;
}

.score {
  padding: 15px 20px;
  position: absolute;
  top: 125px;
  left: -105px;
}
.score__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.score__img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.score__title {
  color: #1D1D1D;
  font-family: "Qicksand";
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  opacity: 50%;
}
.score__text {
  font-family: "Nunito";
  font-size: 24px;
  color: #1D1D1D;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.score__number {
  font-weight: 600;
  padding-right: 5px;
}

.link-block {
  margin-top: 35px;
  text-align: -webkit-right;
}
.link-block__content {
  width: 30%;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link-block__content:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0901960784);
}
.link-block__link {
  color: #377DFF;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 600;
  padding-right: 5px;
}
.link-block__arrow {
  width: 25px;
  height: 25px;
}

.sv-block {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  background-color: white;
  font-family: "Quicksand";
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sv-block:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.sv-block__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 25px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sv-block__circle_blue {
  background-color: #377DFF;
}
.sv-block__circle_red {
  background-color: #FF2D2D;
}
.sv-block__circle_green {
  background-color: #7CE761;
}
.sv-block__circle_orange {
  background-color: #FFA800;
}
.sv-block__img {
  width: 40px;
  height: 40px;
}
.sv-block__text {
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 600;
  color: #1D1D1D;
  text-align: center;
}

.photo-gallery {
  display: flex;
  flex-direction: row;
  gap: 70px;
  width: 400px;
  padding-bottom: 35px;
  padding-top: 30px;
}
.photo-gallery__item {
  width: 350px;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 25px;
  transition-duration: 0.5s;
  cursor: pointer;
  position: relative;
}
.photo-gallery__item:hover {
  transform: scale(1.1, 1.1);
}
.photo-gallery__text {
  position: absolute;
  bottom: 50px;
  left: 25px;
  font-family: "Quicksand";
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.photo-gallery__item_1 {
  background-image: url(../images/photo1.jpg);
}
.photo-gallery__item_2 {
  background-image: url(../images/photo2.jpg);
}
.photo-gallery__item_3 {
  background-image: url(../images/photo3.jpg);
}

.h-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 385px;
  justify-content: space-between;
}
.h-list__item {
  list-style: none;
}
.h-list__link {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 18px;
}
.h-list__link:hover {
  font-weight: 700;
}

.socials {
  display: flex;
  flex-direction: row;
  padding: 0 60px 20px 60px;
  border-bottom: 1px solid white;
  width: 500px;
  align-items: center;
  justify-content: space-around;
}
.socials__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.socials__circle:hover {
  background-color: #377DFF;
}

.nav-block {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  font-size: 18px;
  line-height: 300%;
  list-style: none;
}
.nav-block__title {
  font-size: 22px;
  font-weight: 600;
}
.nav-block__link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav-block__link:hover {
  text-decoration: underline;
}