header {
  font-family: "Quicksand";
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 20px 25px 20px 25px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 10;
    right: 0;
  }
  .header__nav {
    width: 0;
  }
  .header__btn {
    display: none;
  }
}
.intro {
  padding-top: 220px;
  width: 60%;
  margin: 0 auto;
  font-family: "Nunito";
  position: relative;
}
.intro__title {
  font-size: 64px;
  font-weight: 800;
  color: #1D1D1D;
  text-align: center;
  padding-bottom: 25px;
  margin: 0;
}
.intro__text {
  color: #464646;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 30px;
  text-align: center;
  opacity: 60%;
}
.intro__button {
  text-align: center;
}
.intro__foto-block {
  position: relative;
  padding-top: 100px;
  text-align: center;
}
.intro__bubbles_1 {
  top: 80px;
  left: 200px;
  color: #377DFF;
}
.intro__bubbles_2 {
  color: #FF2D2D;
  bottom: -15px;
  left: 200px;
}
.intro__foto {
  border-radius: 50px;
  object-fit: cover;
  width: 100%;
}
.intro__review {
  width: 130px;
  height: 120px;
  font-size: 10px;
  bottom: 0;
  right: -130px;
  position: absolute;
}

@media screen and (max-width: 1300px) {
  .intro__bubbles_1 {
    left: 135px;
  }
  .intro__bubbles_2 {
    left: 135px;
  }
}
@media screen and (max-width: 992px) {
  .intro__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 80%;
    padding-top: 170px;
  }
  .intro__title {
    font-size: 30px;
  }
  .intro__text {
    font-size: 18px;
  }
  .intro__review {
    height: 100px;
    bottom: -18px;
    right: -40px;
  }
  .intro__foto-block {
    padding-bottom: 20px;
  }
  .intro__foto {
    border-radius: 12px;
  }
  .intro__bubbles_1 {
    left: auto;
    right: -15px;
    top: 85px;
  }
  .intro__bubbles_2 {
    left: -15px;
    bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .intro {
    width: 100%;
  }
  .intro__title {
    font-size: 28px;
  }
  .intro__text {
    font-size: 14px;
  }
  .intro__foto {
    width: 80%;
  }
  .intro__review {
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 35px;
  }
  .intro__review .reviewer__name {
    font-size: 5px;
  }
  .intro__review .reviewer__profession_little {
    font-size: 3px;
  }
  .intro__review .review__text {
    font-size: 5px;
    line-height: 8px;
  }
  .intro__bubbles_1 {
    right: 35px;
  }
  .intro__bubbles_2 {
    left: 35px;
  }
}
.about-us__content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.about-us__content_left {
  width: 45%;
}
.about-us__content_right {
  width: 55%;
}
.about-us__text {
  margin-top: 0;
}
.about-us__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-us__btn {
  margin-left: 25px;
}
.about-us__btn-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-us__btn-img {
  width: 18px;
  height: 18px;
  padding-right: 10px;
}
.about-us__img-block {
  position: relative;
}
.about-us__img {
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
}
.about-us__bubbles_1 {
  top: -15px;
  left: -30px;
  color: #FF5C00;
}
.about-us__bubbles_2 {
  bottom: -15px;
  right: -30px;
  color: #EB00FF;
}

@media screen and (max-width: 992px) {
  .about-us__text {
    font-size: 16px;
  }
  .about-us__bubbles_1 {
    left: -15px;
  }
  .about-us__bubbles_2 {
    right: -15px;
  }
}
@media screen and (max-width: 768px) {
  .about-us__content {
    flex-direction: column;
    flex-flow: wrap;
  }
  .about-us__content_left {
    width: 100%;
    order: 2;
    margin-top: 50px;
  }
  .about-us__content_right {
    width: 100%;
    order: 1;
  }
}
@media screen and (max-width: 400px) {
  .about-us__buttons {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
  }
  .about-us__btn {
    margin: 0;
  }
}
.services {
  display: flex;
  flex-direction: row;
}
.services__left {
  width: 45%;
}
.services__left .services__header, .services__left .services__title {
  text-align: left;
}
.services__right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 150px;
  align-content: flex-start;
}

@media screen and (max-width: 1300px) {
  .services__right {
    padding-left: 50px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
  }
  .services__left {
    width: 100%;
  }
  .services__left .services__header, .services__left .services__title {
    text-align: center;
  }
  .services__right {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }
  .services__content .block__text {
    text-align: center;
  }
}
.portfolio {
  position: relative;
}
.portfolio__text {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}
.portfolio__btn-area {
  text-align: center;
}
.portfolio__bubbles_1 {
  color: #EB00FF;
  top: 260px;
  right: 40px;
  transform: rotate(-25deg);
}
.portfolio__bubbles_2 {
  color: #EB00FF;
  top: 500px;
  left: 385px;
  transform: rotate(25deg);
}

@media screen and (max-width: 1300px) {
  .portfolio__bubbles_2 {
    left: 290px;
  }
}
@media screen and (max-width: 1300px) {
  .portfolio__bubbles_2 {
    left: 230px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__text {
    width: 80%;
  }
  .portfolio__bubbles_1 {
    top: 75px;
  }
  .portfolio__bubbles_2 {
    left: 130px;
    top: 300px;
  }
}
@media screen and (max-width: 576px) {
  .portfolio__bubbles_1 {
    display: none;
  }
  .portfolio__bubbles_2 {
    display: none;
  }
}
.testimonial {
  position: relative;
}
.testimonial__reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonial__review {
  padding: 50px 40px !important;
}
.testimonial__text {
  font-size: 18px;
  line-height: 28px;
  color: #464646;
  padding-bottom: 30px;
  padding-top: 30px;
  letter-spacing: 0.01em;
  opacity: 80%;
  margin: 0;
}
.testimonial__bubbles_1 {
  color: #0B50FF;
  transform: rotate(25deg);
  top: 120px;
  left: 80px;
}
.testimonial__bubbles_2 {
  color: #0B50FF;
  transform: rotate(25deg);
  bottom: -35px;
  right: -35px;
}

@media screen and (max-width: 1300px) {
  .testimonial__review {
    padding: 25px 20px !important;
  }
  .testimonial__text {
    padding-bottom: 0;
  }
  .testimonial__bubbles_2 {
    right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .testimonial__bubbles_1 {
    top: 75px;
  }
  .testimonial__bubbles_2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .testimonial__text {
    font-size: 14px;
  }
  .testimonial__bubbles_1 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .testimonial__bubbles_1 {
    display: none;
  }
}
.collaboration {
  display: flex;
  flex-direction: row;
  padding-bottom: 140px;
  margin-top: 60px;
}
.collaboration_left {
  width: 30%;
}
.collaboration_left .collaboration__title {
  text-align: left;
}
.collaboration_right {
  width: 70%;
  position: relative;
}
.collaboration_right .collaboration__bubbles1 {
  font-weight: 900;
}
.collaboration__img {
  border-radius: 15px;
  object-fit: cover;
  position: absolute;
  height: 290px;
}
.collaboration__img_1 {
  width: 325px;
  top: 70px;
  right: 270px;
  z-index: 3;
}
.collaboration__img_2 {
  width: 290px;
  top: -35px;
  right: 0;
  z-index: 2;
}
.collaboration__bubbles1 {
  color: #377DFF;
  letter-spacing: 1px;
  top: 35px;
  right: 500px;
}
.collaboration__bubbles2 {
  color: #FF5C00;
  font-size: 65px;
  bottom: 70px;
  right: 150px;
}
.collaboration__bubbles3 {
  color: #FF5C00;
  font-size: 65px;
  bottom: 70px;
  right: 26px;
}

@media screen and (max-width: 1300px) {
  .collaboration {
    margin-top: 0;
  }
  .collaboration__img {
    height: 250px;
  }
  .collaboration__img_1 {
    width: 270px;
    right: 220px;
    top: 90px;
  }
  .collaboration__img_2 {
    width: 250px;
    top: 0;
  }
  .collaboration__bubbles1 {
    right: 395px;
    top: 50px;
  }
  .collaboration__bubbles2 {
    display: none;
  }
  .collaboration__bubbles3 {
    bottom: 110px;
    right: 105px;
  }
}
@media screen and (max-width: 992px) {
  .collaboration__img {
    height: 220px;
  }
  .collaboration__img_1 {
    width: 230px;
    right: 190px;
  }
  .collaboration__img_2 {
    width: 220px;
  }
  .collaboration__bubbles1 {
    right: 340px;
  }
  .collaboration__bubbles3 {
    bottom: 90px;
    right: 95px;
  }
}
@media screen and (max-width: 768px) {
  .collaboration {
    margin: 0;
    margin-top: 40px;
    flex-flow: wrap;
    gap: 0px;
    padding-bottom: 70px;
  }
  .collaboration_left {
    order: 2;
    width: 100%;
    text-align: center;
  }
  .collaboration_left .collaboration__title {
    text-align: center;
  }
  .collaboration_right {
    order: 1;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .collaboration__img {
    position: relative;
    height: 200px;
  }
  .collaboration__img_1 {
    top: 0px;
    left: 40px;
    width: 220px;
  }
  .collaboration__img_2 {
    top: -80px;
    right: 40px;
    width: 200px;
  }
  .collaboration__bubbles1 {
    display: none;
  }
  .collaboration__bubbles3 {
    display: none;
  }
  .collaboration__btn {
    margin-top: 40px;
  }
}
@media screen and (max-width: 475px) {
  .collaboration {
    margin: 0;
  }
  .collaboration_right {
    padding: 0;
  }
}
footer {
  background-color: #383638;
}

.footer__nav {
  padding-top: 60px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 70px;
}
.footer__content {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 70px;
}
.footer__logo {
  height: 90px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright {
  font-family: "Quicksand";
  font-size: 18px;
  padding-top: 15px;
  color: white;
  padding-bottom: 40px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 992px) {
  .footer__nav {
    gap: 50px;
    justify-content: start;
  }
}
@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
    padding-top: 45px;
  }
}
.btn {
  border: 1px solid #377DFF;
  border-radius: 25px;
  color: #377DFF;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background-color: white;
  padding: 12px 50px;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 0px 5px rgba(55, 125, 255, 0.137254902), 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  transform: translateY(5px);
  box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.btn:active {
  color: white;
  background-color: #377DFF;
}

.btn_reverse {
  color: white;
  background-color: #377DFF;
  box-shadow: 0 4px 8px 0 #377DFF;
  box-shadow: 0px 5px rgba(55, 125, 255, 0.1294117647), 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.btn_reverse:hover {
  transform: translateY(5px);
  box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.btn_reverse:active {
  color: #377DFF;
  background-color: white;
}

@media screen and (max-width: 992px) {
  .btn {
    padding: 10px 35px;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 12px;
    line-height: 18px;
  }
}
.logo {
  background-color: white;
  width: 190px;
  border-radius: 20px;
}
.logo__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo__content_space {
  padding: 20px 25px;
}
.logo__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.logo__name {
  padding-left: 10px;
  font-family: "Quicksand";
}
.logo__name_top {
  font-size: 20px;
  font-weight: 700;
}
.logo__name_bottom {
  font-size: 16px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?3kt7e1");
  src: url("../fonts/icomoon.eot?3kt7e1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3kt7e1") format("truetype"), url("../fonts/icomoon.woff?3kt7e1") format("woff"), url("../fonts/icomoon.svg?3kt7e1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb2:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-mail:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-bubbles:before {
  content: "\e900";
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  width: 1240px;
  margin: 0 auto;
}

body {
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
  position: relative;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    width: 900px;
  }
}
@media screen and (max-width: 992px) {
  .modal-window {
    overflow: hidden;
  }

  .wrapper {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    overflow: hidden;
  }
}
.block {
  padding-top: 140px;
}
.block__header {
  font-family: "Quicksand";
  font-size: 24px;
  color: #377DFF;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
.block__title {
  font-family: "Nunito";
  font-size: 55px;
  color: #1D1D1D;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.block__text {
  padding-bottom: 25px;
  font-family: "Quicksand";
  font-size: 20px;
  color: #464646;
  line-height: 32px;
}

@media screen and (max-width: 992px) {
  .block__text {
    font-size: 16px;
  }
  .block__header {
    font-size: 20px;
  }
  .block__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .block {
    padding-top: 100px;
  }
  .block__text {
    font-size: 14px;
    padding: 0;
  }
  .block__header {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .block__title {
    font-size: 28px;
    padding-bottom: 35px;
  }
}
.icon-bubbles {
  font-size: 80px;
  z-index: -5;
  position: absolute;
}

.review {
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  background-color: white;
  font-family: "Quicksand";
}
.review__img {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}
.review__img_little {
  width: 30px;
  height: 30px;
}
.review__text {
  font-family: "Nunito";
  padding-top: 10px;
  letter-spacing: 0.01em;
  line-height: 14px;
}

.reviewer {
  font-family: "Quicksand";
  color: #1D1D1D;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.01em;
}
.reviewer__information {
  font-size: 11px;
  line-height: 34px;
  padding-left: 30px;
}
.reviewer__information_little {
  padding-left: 10px;
}
.reviewer__img {
  width: 70px;
  height: 70px;
}
.reviewer__name_blue {
  color: #377DFF;
  font-size: 20px;
  font-weight: 600;
}
.reviewer__profession {
  opacity: 50%;
}
.reviewer__profession_little {
  font-size: 6px;
  line-height: 8px;
}

@media screen and (max-width: 768px) {
  .review {
    padding: 10px;
  }
}
.ball {
  content: "";
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 65% 15%, #FF8E8E, #F62424);
  border-radius: 50%;
  position: absolute;
}
.ball_blue {
  background: radial-gradient(circle at 65% 15%, #4485FF, #377DFF);
}
.ball_1 {
  top: 175px;
  right: -300px;
}
.ball_2 {
  top: 310px;
  left: -275px;
}
.ball_3 {
  top: 290px;
  left: -55px;
}
.ball_4 {
  top: 70px;
  right: -130px;
}

@media screen and (max-width: 1300px) {
  .ball_1 {
    right: -155px;
  }
  .ball_2 {
    left: -130px;
  }
  .ball_4 {
    right: -130px;
  }
}
@media screen and (max-width: 992px) {
  .ball_1 {
    right: -90px;
  }
  .ball_2 {
    left: -90px;
  }
  .ball_4 {
    right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .ball_1 {
    top: 120px;
    right: -30px;
  }
  .ball_2 {
    left: -30px;
  }
  .ball_3 {
    display: none;
  }
  .ball_4 {
    display: none;
  }
}
.score {
  padding: 15px 20px;
  position: absolute;
  top: 125px;
  left: -105px;
}
.score__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.score__img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.score__title {
  color: #1D1D1D;
  font-family: "Qicksand";
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  opacity: 50%;
}
.score__text {
  font-family: "Nunito";
  font-size: 24px;
  color: #1D1D1D;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.score__number {
  font-weight: 600;
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .score {
    top: 70px;
    left: -35px;
  }
  .score__title {
    font-size: 10px;
  }
  .score__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .score {
    top: 80px;
    left: 20px;
    padding: 10px;
  }
  .score__title {
    font-size: 8px;
  }
  .score__text {
    font-size: 14px;
  }
}
.link-block {
  margin-top: 35px;
  text-align: -webkit-right;
}
.link-block__content {
  justify-content: end;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.link-block__btn {
  position: relative;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-block__btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #377DFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.link-block__btn:hover::after {
  width: 100%;
  left: 0;
}
.link-block__link {
  color: #377DFF;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 600;
  padding-right: 5px;
}
.link-block__arrow {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .link-block__content {
    justify-content: flex-start;
    padding: 0;
  }
}
.sv-block {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  background-color: white;
  font-family: "Quicksand";
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.sv-block:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.sv-block__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sv-block__circle_blue {
  background-color: #377DFF;
}
.sv-block__circle_red {
  background-color: #FF2D2D;
}
.sv-block__circle_green {
  background-color: #7CE761;
}
.sv-block__circle_orange {
  background-color: #FFA800;
}
.sv-block__img {
  width: 40px;
  height: 40px;
}
.sv-block__text {
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 600;
  color: #1D1D1D;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .sv-block {
    width: 45%;
    height: 40%;
  }
  .sv-block__circle {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  .sv-block {
    width: 40%;
    height: 35%;
  }
  .sv-block__circle {
    width: 80px;
    height: 80px;
  }
  .sv-block__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .sv-block {
    width: 260px;
    height: 260px;
  }
  .sv-block__circle {
    width: 100px;
    height: 100px;
  }
}
.photo-gallery {
  display: flex;
  flex-direction: row;
  gap: 70px;
  width: 400px;
  padding-bottom: 35px;
  padding-top: 30px;
}
.photo-gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 25px;
  transition-duration: 0.5s;
  cursor: pointer;
  position: relative;
}
.photo-gallery__item:hover {
  transform: scale(1.1, 1.1);
}
.photo-gallery__text {
  position: absolute;
  bottom: 50px;
  left: 25px;
  font-family: "Quicksand";
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.photo-gallery__item {
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-gallery__item_1 {
  background-image: url(../images/photo1.jpg);
}
.photo-gallery__item_2 {
  background-image: url(../images/photo2.jpg);
}
.photo-gallery__item_3 {
  background-image: url(../images/photo3.jpg);
}

@media screen and (max-width: 1300px) {
  .photo-gallery {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .photo-gallery__item {
    width: 30%;
    padding-top: 30%;
    height: 0;
  }
}
@media screen and (max-width: 992px) {
  .photo-gallery__text {
    font-size: 20px;
    bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .photo-gallery {
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
  }
  .photo-gallery__item {
    width: 100%;
    padding-top: 100%;
  }
  .photo-gallery__text {
    bottom: 30px;
  }
}
@media screen and (max-width: 340px) {
  .photo-gallery {
    width: 250px;
  }
}
.h-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 385px;
  justify-content: space-between;
}
.h-list__item {
  list-style: none;
}
.h-list__link {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 18px;
}
.h-list__link:hover {
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .h-list {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.6s;
    justify-content: flex-start;
    transform: translateX(100%);
  }
  .h-list_phone {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .h-list__item {
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
  .h-list__link {
    font-weight: 600;
    border-bottom: 1px solid #1d1d1d;
  }
  .h-list__link:hover {
    text-decoration: underline;
    color: rgb(74, 75, 75);
  }
}
.socials {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  width: 500px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.socials__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 20px;
  position: relative;
}
.socials__circle:hover span {
  color: white;
}
.socials__circle span {
  z-index: 3;
  font-size: 24px;
  transition: color 0.5s;
}
.socials__circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 50%;
  transition: box-shadow 0.5s;
  box-shadow: inset 0 0 0 0 #377DFF;
  z-index: 1;
}
.socials__circle:hover::before {
  box-shadow: inset 0 0 0 40px #377DFF;
}
.socials__circle .icon-instagram, .socials__circle .icon-mail, .socials__circle .icon-twitter {
  padding-top: 1px;
}

@media screen and (max-width: 576px) {
  .socials__circle {
    margin: 0 10px;
  }
}
.nav-block {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  font-size: 18px;
  list-style: none;
}
.nav-block li {
  padding-bottom: 20px;
}
.nav-block__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 20px;
}
.nav-block__link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.nav-block__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-block__link:hover::after {
  width: 100%;
  left: 0;
}

.hamburger {
  display: none;
  height: 50px;
  width: 58px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.hamburger_close .hamburger__line_2 {
  width: 0;
}
.hamburger_close .hamburger__line_1 {
  transform: translateX(5px) rotate(45deg);
}
.hamburger_close .hamburger__line_3 {
  transform: translateX(5px) rotate(-45deg);
}
.hamburger__line {
  width: 36px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  transition: width 0.3s, transform 0.3s;
}
.hamburger__line_1 {
  transform-origin: 8% 0%;
}
.hamburger__line_2 {
  width: 24px;
}
.hamburger__line_3 {
  transform-origin: 8% 100%;
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
  }
}
.glide .glide__slide {
  padding: 10px 25px;
}
.glide .glide__arrow {
  background-color: rgba(55, 125, 255, 0.5137254902);
}
.glide .glide__arrow:hover {
  background-color: rgba(55, 125, 255, 0.6156862745);
}
.glide .glide__arrow--left {
  left: -20px;
}
.glide .glide__arrow--right {
  right: -20px;
}

@media screen and (max-width: 992px) {
  .glide .glide__slide {
    padding: 10px;
  }
}