@use '_variables';

.about-us {

    &__content {
        display: flex;
        flex-direction: row;
        gap: 65px;

        &_left {
            position: relative;
        }

        &_right {
            padding-top: 30px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
    }

    &__btn {
        margin-left: 25px;

        &-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-img{
            width: 18px;
            height: 18px;
            padding-right: 10px;
        }  
    }

    &__img {
        border-radius: 25px;;
        object-fit: cover;
        width: 565px;
        height: 400px;
    }

    &__bubbles {
        top: -20px;
        left: -30px;
        color: #FF5C00;
    }

    &__bubbles2 {
        top: 330px;
        left: 495px;
        color: #EB00FF;
    }
        
}

