@use '_variables';

.ball {
    content: "";
    width: 30px;;
    height: 30px;
    background: radial-gradient(circle at 65% 15%, #FF8E8E, #F62424);
    border-radius: 50%;
    position: absolute;
    

    &_blue {
        background: radial-gradient(circle at 65% 15%, #4485FF, #377DFF);    
        
    }

    &_1 {
        top:175px;
        right: -300px;
    }

    &_2 {
        top:310px;
        left: -275px;
    }

    &_3 {
        top:290px;
        left: -55px;
    }

    &_4 {
        top:70px;
        right: -130px;
    }
}


@media screen and (max-width: 1300px) {
    .ball {        
        &_1 {
            right: -155px;
        }

        &_2 {
            left: -130px;
        }

        &_4 {
            right: -130px;
        }
    }
}

@media screen and (max-width: 992px) {
    .ball {        
        &_1 {
            right: -90px;
        }

        &_2 {
            left: -90px;
        }

        &_4 {
            right: 0px;
        }
    }
}

@media screen and (max-width: 768px) {
    .ball { 
        &_1 {
            top: 40px;
            right: -30px;
        }

        &_2 {
            left: -30px;
        }
        &_3 {
            display: none;
        }

        &_4 {
            display: none;
        }
    }
}