@use '_variables';

.btn {
    border: 1px solid variables.$blue;
    border-radius: 25px;
    color: variables.$blue;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: white;
    padding: 12px 50px;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 0px 5px #377dff23, 0px 10px 10px rgba(0,0,0,0.10);

    &:hover{
        transform: translateY(5px);
        box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.10);
    }    

    &:active {
        color: white;
        background-color: variables.$blue;
    }
}

.btn_reverse {
    color: white;
    background-color: variables.$blue;
    box-shadow: 0 4px 8px 0 #377DFF;
    box-shadow: 0px 5px #377dff21, 0px 10px 10px rgba(0,0,0,0.10);

    &:hover {
        transform: translateY(5px);
        box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.10);
    }

    &:active {
        color: variables.$blue;
        background-color: white;
    }
}

@media screen and (max-width: 992px) {
    .btn {  
        padding: 10px 35px;
    }
}

@media screen and (max-width: 768px) {
    .btn {  
        font-size: 12px;
        line-height: 18px;
    }
}