.collaboration {
    display: flex;
    flex-direction: row;
    padding-bottom: 140px;
    margin-top: 60px;

    &_left {
        width: 30%;
    }

    &_right {
        width: 70%;
        position: relative;
        
    }

    &__title {
        text-align: left !important;
    }

    &__img {        
        border-radius: 15px;
        object-fit: cover;
        position: absolute;
        height: 290px;

        &_1 {
            width: 37%;        
            top: 70px;
            left: 280px;
            z-index: 3;
        }

        &_2 {
            width: 34%;
            top:-35px;
            right: 0;
            z-index: 2;
        }
    }

    &__bubbles1 {
        color: #377DFF;
        font-weight: 900;
        letter-spacing: 1px;
        top: 35px;
        left: 265px;

    }

    &__bubbles2 {
        color: #FF5C00;
        font-size: 65px;
        bottom: 70px;
        right: 150px;
    }

    &__bubbles3 {
        color: #FF5C00;
        font-size: 65px;
        bottom: 70px;
        right: 26px;
    }

}


@media screen and (max-width: 1300px) {

    .collaboration {
        &__img {        
            height: 230px;
            &_1 {
                left: 215px;
            }
        }

        &__bubbles2 {
            display: none;
        }
    
        &__bubbles3 {
            bottom: 160px;
            right: 65px;
        }
    }

}



    

   


