@use '_variables';

footer {
    background-color: #383638;
}

.footer {
    &__nav {
        padding-top: 120px;
        padding-bottom: 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        height: 90px;
    }
    
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;       
    }

    &__copyright {
        font-family: "Quicksand";
        font-size: 18px;
        padding-top: 15px;
        color: white;
        padding-bottom: 40px;
    }
}


