@use '_variables';

footer {
    background-color: #383638;
}

.footer {
    &__nav {
        padding-top: 60px;
        padding-bottom: 75px;
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 70px;
    }

    &__content{
        display: flex;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 70px;
    }

    &__logo {
        height: 90px;
    }
    
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;       
    }

    &__copyright {
        font-family: "Quicksand";
        font-size: 18px;
        padding-top: 15px;
        color: white;
        padding-bottom: 40px;
        text-align: center;
        line-height: 1.5;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        
        &__nav {
            gap: 50px;
            justify-content: start;
    }
        }

}

@media screen and (max-width: 768px) {
    .footer {
        
        &__nav {
            flex-direction: column;
            padding-top: 45px;
    }
        }

}
