header {
    font-family: "Quicksand";
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding-top: 70px;    
}

@media screen and (max-width: 992px) {
    .header {
        padding: 40px 25px 10px 25px;
        position: fixed;
        left: 0;
        top:0;
        background-color: white;
        z-index: 10;
        right: 0;
        &__nav {
            width: 0;            
        }
        &__btn {
            display: none;
        }        
    }
}


