@use '_variables';

.intro {
    padding-top: 70px;
    width: 60%;
    margin: 0 auto;
    font-family: "Nunito";
    position: relative;

    &__title {   
        font-size: 64px;
        font-weight: 800;
        color: variables.$title-color;
        text-align: center;
        padding-bottom: 25px;
        margin: 0;
    }

    &__text {
        color: variables.$text-color;
        font-size: 20px;
        line-height: 150%;
        padding-bottom: 30px;
        text-align: center;   
        opacity: 60%;    
    }

    &__button {
        text-align: center;
    }

    &__foto-block {
        position: relative;
        padding-top: 100px;
    }

    &__bubbles {    
        top: 80px;
        left: 135px;
        color: variables.$blue;
    }

    &__bubbles2 {
        color: variables.$red;
        top: 540px;
        left: 200px;
    }

    &__foto{
        border-radius: 50px;
        object-fit: cover;
    }
}


.intro__review {
    width: 130px;
    height: 120px;
    font-size: 10px;
    bottom: 0;
    right: -130px;
    position: absolute;

}

