@use '_variables';

.intro {
    padding-top: 220px;
    width: 60%;
    margin: 0 auto;
    font-family: "Nunito";
    position: relative;

    &__title {   
        font-size: 64px;
        font-weight: 800;
        color: variables.$title-color;
        text-align: center;
        padding-bottom: 25px;
        margin: 0;
    }

    &__text {
        color: variables.$text-color;
        font-size: 20px;
        line-height: 150%;
        padding-bottom: 30px;
        text-align: center;   
        opacity: 60%;    
    }

    &__button {
        text-align: center;
    }

    &__foto-block {
        position: relative;
        padding-top: 100px;
        text-align: center;
    }

    &__bubbles_1 {    
        top: 80px;
        left: 200px;
        color: variables.$blue;
    }

    &__bubbles_2 {
        color: variables.$red;
        bottom: -15px;
        left: 200px;
    }

    &__foto{
        border-radius: 50px;
        object-fit: cover;
        width: 100%;
    }

    &__review {
        width: 130px;
        height: 120px;
        font-size: 10px;
        bottom: 0;
        right: -130px;
        position: absolute;
    }
}

@media screen and (max-width: 1300px) {
    .intro {
        &__bubbles_1 {  
            left: 135px;
        }

        &__bubbles_2 {  
            left: 135px;
        }
    }
}

@media screen and (max-width: 992px) {
    .intro {
        &__title {   
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 80%;
        padding-top: 170px;
        &__title {   
            font-size: 30px;
        }

        &__text {
            font-size: 18px;
        }

        &__review {
            height: 100px;
            bottom: -18px;
            right: -40px;
        }

        &__foto-block {
            padding-bottom: 20px;
        }

        &__foto{
            border-radius: 12px;
        }

        &__bubbles_1 {  
            left: auto;
            right: -15px;
            top: 85px
        }

        &__bubbles_2 {  
            left: -15px;
            bottom: 10px;            
        }
    }
}

@media screen and (max-width: 576px) {
    .intro {
        width: 100%;
        &__title {   
            font-size: 28px;
        }

        &__text {
            font-size: 14px;
        }

        &__foto {
            width: 80%;
        }
        &__review {
            width: 80px;
            height: 80px;            
            bottom: 0;
            right: 35px;

            .reviewer__name {
                font-size: 5px;
            }

            .reviewer__profession_little {
                font-size: 3px;
            }

            .review__text{
                font-size: 5px;
                line-height: 8px;
            }
        }

        &__bubbles_1 {  
            right: 35px;
        }

        &__bubbles_2 {  
            left: 35px;            
        }
    }
}

