@use '_variables';

.link-block {
    margin-top: 35px;
    text-align: -webkit-right;    
    
    &__content {
        justify-content: end;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 15px;
        display: flex;
        flex-direction: row;           
    }

    &__btn {
        position: relative;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after { 
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            background: none repeat scroll 0 0 transparent;
            height: 2px;
            width: 0;
            background: variables.$blue;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
            
        &:hover::after { 
            width: 100%; 
            left: 0; 
        }
    }

    &__link {
        color: variables.$blue;
        text-decoration: none;    
        font-family: "Quicksand";
        font-size: 20px;
        font-weight: 600;
        padding-right: 5px;     
    }

    &__arrow {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .link-block { 

        &__content {
            justify-content: flex-start;
            padding: 0;
        }
    }
}






