@use '_variables';

.block {
    padding-top: 140px;

    &__header {
        font-family: "Quicksand";
        font-size: 24px;
        color: variables.$blue;
        padding-bottom: 20px;
        text-align: center;
        font-weight: 600;
    }

    &__title {
        font-family: "Nunito";
        font-size: 55px;
        color: variables.$title-color;
        font-weight: 700;
        padding-bottom: 40px;
        text-align: center;
    }

    &__text {
        padding-bottom: 25px;
        font-family: "Quicksand";
        font-size: 20px;
        color: variables.$text-color;
        line-height: 32px;
    }
}






