.nav-block {
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
    font-size: 18px;    
    list-style: none;

    li {
        padding-bottom: 20px;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;        
        line-height: 100%;
        padding-bottom: 20px;
    }

    &__link {
        color:white;
        text-decoration: none;
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }
}


// @media screen and (max-width: 1300px) {
//     .nav-block {
//         &_contact {
//             position: absolute;
//             top: 340px;
//             left: 248px;
//         }
//     }
// }

// @media screen and (max-width: 992px) {
//     .nav-block {
//         &_contact {
//             position: static;
//         }
//     }
// }


