.portfolio {
    position: relative;

    &__text{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    &__btn-area {
        text-align: center;
    }

    &__bubbles {
        color: #EB00FF;
        top: 260px;
        right: 40px;
        transform: rotate(-25deg);
    }

    &__bubbles2 {
        color: #EB00FF;
        top: 500px;
        left: 385px;
        transform: rotate(25deg);
    }
}

@media screen and (max-width: 1300px) {

    .portfolio {
        &__bubbles2 {            
            left: 290px;
        }
    }

}
