@use '_variables';

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left{
        width: 45%;
    } 
    
    &__right {
        width: 50%;
    }

    &__header, &__title {
        text-align: left !important;
    }

    &__right {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 150px;
    }

}

         








