@use '_variables';

.socials {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    width: 500px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &__circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 20px;
        position: relative;

        &:hover span {
            color: white;
        }
        
        span{
            z-index: 3;
            font-size: 24px;
            transition: color .5s;
        }        

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: all 0.25s ease;
            border-radius: 50%;
            transition: box-shadow 0.5s;
            box-shadow: inset 0 0 0 0 variables.$blue;;
            z-index: 1;
        }

        &:hover::before{
            box-shadow: inset 0 0 0 40px variables.$blue;
        }        

        .icon-instagram, .icon-mail, .icon-twitter {
            padding-top: 1px
        }
    }    
}

@media screen and (max-width: 576px) {
    .socials {
        
        &__circle {
            margin: 0 10px;
        }
    }
}