@use '_variables';

.socials {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    width: 500px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &__circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: .3s;
        margin: 0 20px;

        &:hover {
            background-color: variables.$blue;
        }
    }    
}

@media screen and (max-width: 576px) {
    .socials {
        
        &__circle {
            margin: 0 10px;
        }
    }


}