@use '_variables';

.testimonial {
    position: relative;

    &__reviews {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    &__review {
        padding: 50px 40px !important;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        color: variables.$text-color;
        padding-bottom: 30px;
        padding-top: 30px;        
        letter-spacing: 0.01em;
        opacity: 80%;
        margin: 0;
    }

    &__bubbles_1 {
        color:#0B50FF;
        transform: rotate(25deg);
        top: 120px;
        left: 80px;
    }

    &__bubbles_2 {
        color:#0B50FF;
        transform: rotate(25deg);
        bottom: -35px;
        right: -35px;
    }
}

@media screen and (max-width: 1300px) {
    .testimonial {
       
        &__review {
            padding: 25px 20px !important;
        }

        &__text {
            padding-bottom: 0;
        }

        &__bubbles_2 {
            right: 15px;
        }
    }
}

@media screen and (max-width: 992px) { 
    .testimonial {
        
        &__bubbles_1 {
            top: 75px;
        }

        &__bubbles_2 {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) { 
    .testimonial {
        &__text{
            font-size: 14px;
        }

        &__bubbles_1 {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) { 
    .testimonial {
       
        &__bubbles_1 {
            display: none;
        }
    }
}



